body{
   background-color:  rgba(44,44,44,255);
    padding: 0;
    margin: 0;
}
section{
    margin: 30px;
}

table, tr {
    border: 1px solid #343434 ;
    color: #fff;
    font-size: 8px;
    border-collapse: collapse; 
    
}

td{
    padding: 7px 10px;
    width: 33%;
}

table{
    width: 70%;
}

.triangle {
    clip-path: polygon(0 38%, 50% 78%, 100% 38%);
    background: #fff;
    margin-left: 3px;
    padding-top: 0px;
    
}

.circle {
    clip-path: circle(15% at 50% 50%);
    background-color: #fff;
 
}

.data-type-third {
    text-align: right;
}
.data-type-second{
    text-align: center;
}

.checkbox {
    width: 8px;
    height: 8px;
    
}

.table_row {
    display: flex;
   
}

.first_row {
    display:flex;
    align-items: center;
    padding: 0px 10px;
    
}

.table_date_Name:after {
    content: "@";
    background-color: #fff;
    clip-path: polygon(0 38%, 50% 78%, 100% 38%);
    

}

.image_icons,
.search_image {
    width: 10px;
    height: 10px;
}
form{
    text-align: right;
    
}
.search_image {
    position: absolute;
    padding-left: 3px ;
    padding-top: 5px;
}
#search {
   padding-left: 20px;
   background: #343434 ; 
   border: none;
   border-radius: 6px;
}

.table_search {
    padding: 0;
    position: relative;

}


.dropdown{
    position: relative;
}

.dropdown input,
.dropdown ul {
    display: none;
}

.dropdown label {
    cursor: pointer;
}
.dropdown ul {
    position: absolute;
    left: 50px;
    background-color:none;
    cursor: pointer;
    
}
.dropdown li {
    color: #fff;
}

.dropdown :checked ~ ul{
    display: inline-block;
}
